.emojiListWrapp {
	width: 20%;
}

.emojiList {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.emojiItem {
	padding: 10px 20px;
	list-style-type: none;
	background-color: #f0f8fa;
	border: 1px solid #cccccc;
}
