.h1{
font-size: 50px;
}
.app{
    margin: 0 auto;
    width: 500px;
    height: 453px;
    border: 3px solid grey;
}
.app__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.count{
     color: darkgrey;
     font-size: 100px;
}
.plus{
    background-color: green;
    color: snow;
}
.reset{ background-color:yellow;}
.minus{ background-color: red;
    color: snow;}

.plus, .reset, .minus{
width: 169px;
height: 120px;
font-size: 80px;
border: 3px solid grey;
}